# Force all C# to be treated as C#
*.cs linguist-language=C#

# Unity shader files
*.shader linguist-language=C#
*.compute linguist-language=C#
*.hlsl linguist-language=C#

# Unity UI
*.uxml linguist-language=XML
*.uss linguist-language=CSS

# Ignore non-code Unity files
*.meta linguist-vendored
*.unity linguist-vendored
*.prefab linguist-vendored